[user]
	email = raxmac@gmail.com
	name = ronualdo maciel
[diff]
	submodule = log
[status]
	submodulesummary = 1
[core]
	editor = nvim
	attributesfile = ~/.gitattributes
[alias]
	diff-image = "!f() { cd -- \"${GIT_PREFIX:-.}\"; GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
[diff "image"]
	command = ~/Workspace/git-diff-image/git_diff_image
[pull]
	rebase = false
